{# ../../header.html #}
	
<div class="main">
	<?js if(req.user){ ?>
	<div id="postForm">
		<textarea id="taskContent" name="text"></textarea>
		<div class="ctrl">
			隐私:<select name="privacy">
				<option value="999">公开</option>
				<option value="1">私人</option>
			</select>
			状态:<select name="status">
				<option value="1">等待</option>
				<option value="999">开始</option>
			</select>
			优先级:<select name="priority">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
			<button class="minibutton green" id="btnAddTask">添加任务</button>
		</div>
	</div>
	<?js } ?>
	
	<div class="tasklist">
	<?js if(vd.tasks){ ?>
	<ul>
	<?js vd.tasks.forEach(function(task, i){ ?>
		<li>
			<div class="head_pic">
				<a href="/n/${task.user.screen_name}" title="#{task.user.email}"><img src="#{task.user.profile_image_url || '/static/images/user_head.gif'}" /></a>
			</div>
			<div class="task-content">
				<a class="username" href="/n/${task.user.screen_name}">${task.user.screen_name}:</a>
				${task.text}<a href="#">评论</a>(<a href="#">${task.commentCount}</a>)
			</div>
		</li>
	<?js }); ?>
	</ul>
	<?js } ?>
	</div>
	
</div>
<div class="sidebar">
	<h3>侧栏</h3>
</div>

<?js if(req.user){ ?>
<script type="text/javascript">
	$("#btnAddTask").click(function(){
		var postData = {};
		$("#postForm select, #postForm textarea").each(function(){
			postData[$(this).attr('name')] = $.trim($(this).val());
		});
		if(!postData.text){
			alert('请填写任务内容');
			return;
		}
		$.post('/task/add', postData, function(r){
			if(r.success){
				alert('添加成功');
			}else{
				var err = r.error;
				if(typeof err !== 'string'){
					err = '';
					for(var k in r.error){
						err += r.error[k] + '\r\n';
					}
				}
				alert(err);
			}
		});
	});
</script>
<?js } ?>

{# ../../footer.html #}
